{
    "trailingComma": "es5",
    "useTabs": true,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "printWidth": 100,
    "arrowParens": "always",
    "importOrderSeparation": true,
	"importOrder": [
        "^next.*",
        "^react.*",
		"^discord.js",
		"^@discordjs/.*",
        "^ioredis",
		"^axios",
        "^@components/.*",
		"^@models/.*",
		"^@utils/.*",
		"^@global/.*",
		"^@src/.*",
        "^@bot/.*"
	]

}