{
    "trailingComma": "es5",
    "useTabs": true,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "printWidth": 100,
    "arrowParens": "always",
    "importOrderSeparation": true,
	"importOrder": [
		"^discord.js",
		"^@discordjs/.*",
        "^ioredis",
		"^axios",
		"^@models/.*",
		"^@utils/.*",
		"^@src/.*"
	]

}