.bar
    width: 100%
    padding: .5rem 0

    background-color: var(--bg-secondary)

.header
    display: flex
    align-items: center

    font-size: 1.5rem

    flex: 1

    a
        margin: 0
        margin-left: 1rem

.buttons
    display: flex
    align-items: center

    a
        margin: 0 .5rem
